<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>Saving measures</title>
</head>
<body style="background-color: #36393F">

<nav class="my-nav">
    <div class="logo-container">
        <a href="/"><img th:src="@{./image/fuelLogo.png}" th:height="60" th:width="60" alt="My Logo"></a>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/profile" style="color: white">Back</a></li>
        </ul>
    </div>
    <div>
        <ul class="nav-links">
            <li><a th:action="@{/logout}" href="/login" methods="post"> Sign out </a></li>
        </ul>
    </div>
</nav>
<header>
    <section>
        <table style="background: white; border: 1px solid black; text-align: center;">
            <thead style="font-weight: bold;">
            <tr>
                <th>Measure name</th>
                <th>Resource name</th>
                <th>Expected effect of implementation</th>
                <th>Potential savings</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="measure : ${measuresForCompany}">
                <td th:text="${measure.measureName}" style="border: 1px solid black;"></td>
                <td th:text="${measure.resourceName}" style="border: 1px solid black;"></td>
                <td th:text="${measure.expectedEffect}" style="border: 1px solid black;"></td>
                <td th:text="${measure.potentialSavings}" style="border: 1px solid black;"></td>
            </tr>
            </tbody>
        </table>
    </section>
    <section>
        <h1>
            Possible measures
        </h1>
        <div th:text="${answer}" style="color: white">

        </div>
    </section>
</header>
</body>
</html>