<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css">
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body style="background-color: #36393F">

    <nav class="my-nav">
        <div class="logo-container">
            <a href="/"><img th:src="@{./image/fuelLogo.png}" th:height="60" th:width="60" alt="My Logo"></a>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <div>
            <ul class="nav-links">
                <li><a th:action="@{/logout}" href="/login" methods="post"> Sign out </a></li>
            </ul>
        </div>
    </nav>

    <main>
        <section>
            <div class="panel">
                <div class="my-card">
                    <div class="my-card-body">
                        <h5 class="my-card-title">Show expenses</h5>
                        <p class="my-card-text">Shows all expenses for your company.</p>
                        <a href="/profile/expenses" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
                <div class="my-card">
                    <div class="my-card-body">
                        <h5 class="my-card-title">Show energy indexes</h5>
                        <p class="my-card-text">Shows energy indexes for your company.</p>
                        <a href="/profile/energy-indexes" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
                <div class="my-card">
                    <div class="my-card-body">
                        <h5 class="my-card-title">Show expense summary</h5>
                        <p class="my-card-text">Shows summary for all expenses for your company.</p>
                        <a href="/profile/summary-charts" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
                <div class="my-card">
                    <div class="my-card-body">
                        <h5 class="my-card-title">Show expense summary for resource</h5>
                        <p class="my-card-text">Shows expense summary for each resource for your company.</p>
                        <a href="/profile/resource-summary" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
                <div class="my-card">
                    <div class="my-card-body">
                        <h5 class="my-card-title">Show saving measures</h5>
                        <p class="my-card-text">Shows possibilities for energy saving for your company.</p>
                        <a href="/profile/energy-saving-measures" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <hr>
        <p style="color: white">
            Made by <a href="https://github.com/Yarkov23" target="_blank">Striukov Yaroslav
            ↗</a><br>
        </p>
    </footer>

</body>
</html>