<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Energy charts</title>
</head>
<body style="background-color: #36393F">
<nav class="my-nav">
    <div class="logo-container">
        <a href="/"><img th:src="@{./image/fuelLogo.png}" th:height="60" th:width="60" alt="My Logo"></a>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/profile" style="color: white">Back</a></li>
        </ul>
    </div>
    <div>
        <ul class="nav-links">
            <li><a th:action="@{/logout}" href="/login" methods="post"> Sign out </a></li>
        </ul>
    </div>
</nav>
<header>
    <div class="panel">
        <div class="panel-header">
            <h2 style="color: white">Expense summary by resource</h2>
        </div>
        <div class="panel-body">
            <table style="background: white; border: 1px solid black; text-align: center;">
                <thead style="font-weight: bold;">
                <tr>
                    <th>Resource</th>
                    <th>Summary expense</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="entry : ${expenseSummary}">
                    <td th:text="${entry.getKey()}" style="border: 1px solid black; color: black"></td>
                    <td th:text="${entry.getValue()}" style="border: 1px solid black; color: black"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</header>
<main>
    <hr>
    <section>
        <header>
            <h1 style="color: white">Total expense by resource chart</h1>
            <div class="chart-container" style="position: relative; margin:160px; height:80vh; width:160vw">
                <canvas id="myChart" style="background: white"></canvas>
            </div>
        </header>
        <script th:inline="javascript">
            let resultMap = [[${expenseSummary}]];

            let data = [];
            let labels = [];

            for (let key in resultMap) {
                if (resultMap.hasOwnProperty(key)) {
                    data.push(resultMap[key]);
                    labels.push(key);
                }
            }

            let ctx = document.getElementById("myChart").getContext("2d");
            let myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: labels,
                    datasets: [{
                        label: "Expense Summary",
                        data: data,
                        backgroundColor: [
                            '#FF6384',
                            '#36A2EB',
                            '#FFCE56',
                            '#E7E9ED',
                            '#4BC0C0',
                            '#FF8A80',
                            '#A1887F',
                            '#81D4FA',
                            '#DCE775',
                            '#FFB74D'
                        ],
                        borderWidth: 1
                    }]
                }
            });
        </script>
    </section>
</main>
</body>
</html>