<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body style="background-color: #36393F">
<nav class="my-nav">
    <div class="logo-container">
        <a href="/"><img th:src="@{./image/fuelLogo.png}" th:height="60" th:width="60" alt="My Logo"></a>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/admin" style="color: white">Back</a></li>
        </ul>
    </div>
    <div>
        <ul class="nav-links">
            <li><a th:action="@{/logout}" href="/login" methods="post"> Sign out </a></li>
        </ul>
    </div>
</nav>
<section>
    <form style="background: white" th:action="@{/admin/update}" th:object="${user}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" required="required"/>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required="required"/>
        <select th:field="*{roleList}">
            <option value="">-- Select Role --</option>
            <option th:each="role : ${allRoles}" th:value="${role}" th:text="${role}"></option>
        </select>
        <label for="company">Company:</label>
        <select id="company" th:field="*{company.id}" required="required">
            <option th:each="c : ${companyList}" th:value="${c.id}" th:text="${c.name}" th:selected="${c.id == user.company?.id}"/>
        </select>
        <input type="submit" value="Save"/>
    </form>
</section>
</body>
</html>